<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>

    <property>
        <name>fs.default.name</name>
        <value>hdfs://{{ hdfs_namenode_host }}:{{ hdfs_namenode_port | default(9000) }}</value>
    </property>
    
<!--    
    <property>
        <name>hadoop.tmp.dir</name>
        <value>{{ hdfs_temp_dir }}</value>
	    <description>A base for other temporary directories.</description>
    </property> 
-->

</configuration>
