# Hadoop Environment Variables

export JAVA_HOME={{ java_home }}
export HADOOP_HOME={{ hadoop_home }}
export YARN_HOME={{ hadoop_home }}
export HADOOP_YARN_HOME={{ hadoop_home }}
export HADOOP_CONF_DIR={{ hadoop_conf_dir }}


# Users running Hadoop HDFS processes
export HDFS_NAMENODE_USER={{ hdfs_namenode_user }}
export HDFS_DATANODE_USER={{ hdfs_datanode_user }}
export HDFS_SECONDARYNAMENODE_USER={{ hdfs_namenode_user }}


# Users running Hadoop YARN processes
export YARN_RESOURCEMANAGER_USER={{ hdfs_namenode_user }}
export YARN_NODEMANAGER_USER={{ hdfs_datanode_user }}
