<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>

    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{ hdfs_name_dir }}</value>
    </property>

    <property>
	    <name>dfs.datanode.data.dir</name>
	    <value>{{ hdfs_data_dir }}</value>
    </property>
	
    <property>
	    <name>dfs.replication</name>
	    <value>{{ hdfs_dfs_replication }}</value> <!-- {{hdfs_dfs_replication}} -->
    </property>

<!--   
   <property>
        <name>dfs.ha.automatic-failover.enabled</name>
        <value>{{ hdfs_ha_automatic_failover_enabled }}</value>
    </property>
-->

</configuration>
