export HADOOP_PREFIX={{ hdfs_hadoop_home }}
export HADOOP_COMMON_HOME={{ hdfs_hadoop_home }}
export HADOOP_HDFS_HOME={{ hdfs_hadoop_home }}
export HADOOP_MAPRED_HOME={{ hdfs_hadoop_home }}
#export HADOOP_YARN_HOME={{ hdfs_hadoop_home }}
export HADOOP_CONF_DIR={{ hdfs_hadoop_home }}/etc/hadoop
#export YARN_CONF_DIR={{ hdfs_hadoop_home }}/etc/hadoop

export HADOOP_HOME={{ hdfs_hadoop_home }}
export PATH=$HADOOP_HOME/bin:$HADOOP_HOME/sbin:$PATH
